@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa:wght@300&family=Karla:wght@300&family=PT+Serif&family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa:wght@300&family=Karla:wght@300&family=PT+Serif&family=Quicksand:wght@300&family=Titillium+Web:wght@200&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa:wght@300&family=Karla:wght@300&family=PT+Serif&family=Quicksand:wght@300;600&family=Titillium+Web:wght@200&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
*{
    padding : 0;
    margin:0;
    scroll-behavior: smooth;
}
nav{
    margin-top: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    height: 70px;
    width:100%;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    font-weight: none;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    
}
ul li{
    margin-right: 50px;
    font-weight: bold;
    color:rgb(0,0,0,0.8);
}
ul button{
    width:112px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border:1px solid rgb(68, 160, 216);
    color:rgb(68, 160, 216);
}
.nav_icon{
    border-radius: 30px;
}
.nav_log{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.nav_btn_txt{
    font-size: 16px;
    font-weight: 550;
}
.nav_log p{
    margin-top: 15px;
    margin-left: -35px;
}

.nav_divider{
    border: solid 4px rgb(68, 160, 216);
    width:100%;

}
ul li:hover{
    color:rgb(0,0,0,0.4);
}
.nav_content{
     display: flex;
     flex-direction: row;
     align-items: center;
    margin-left: -80px;
    
}
.nav_content p{
    font-size: 22px;
    font-weight: bold;
}
.nav_logo{
    height: 50px;
    width:50px;
    color:rgb(68, 160, 216);
    margin-left: 140px;
    margin-top: -15px;
}